*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}
.search-box{
    width: 500px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;

}

.search-box > i{
    font-size: 20px;
    color: black;

}

.search-box > input{
    flex: 1;
    height: 40px;
    border: none;
    font-size: 18px;
    padding-left: 10px;
}
.gallery{
    column-count: 3;
    padding: 4rem 10%;
}
.gallery .box{
    padding: 1rem;
    position: relative;
    cursor: pointer;
    overflow: inherit;
}

.gallery .box img{
    width: 100%;
    object-fit: cover;
    
}







